#header1 {
    text-align: center;
    
}

.top-menu {
    margin-bottom: 30px;
}

.table-parent {
    font-size: 12px;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 10px;
}

.station-cell {
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dddddd;
    width: 5%;
    font-weight: bold;
    font-size: 20px;
}

.taf-new-report {
    background-color: red;
}

.metar-new-report {
    background-color: red;
}

.metar-old-report {
    border-bottom: 1px solid black;
}

.taf-old-report {
    border-top: 1px solid black;
    border-bottom: 1px solid #dddddd;
}

.reports-time-cell {
    width: 125px;
    border-right: 1px solid #dddddd;
}

.report-type-cell {
    width: 75px;
    border-right: 1px solid #dddddd;
}

