<nav class="navbar navbar-expand-lg custom-navbar w-100">
    <a class="navbar-brand" href="">MetarTaf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/Overview">
                    <span class="bi bi-airplane-nav-menu" aria-hidden="true"></span> Overview
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
